<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Components Playground
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
    
    <ion-item>
      <ion-label>ButtonAa</ion-label>
      <ion-button expand="block" fill="clear" size="large">Submit</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>ButtonAb</ion-label>
      <ion-button expand="full" fill="outline" shape="round" size="small">Submit</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>ButtonAc</ion-label>
      <ion-button size="default" fill="solid" color="dark" strong="true" type="submit">Submit</ion-button>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
      <ion-item-divider>
        <ion-label>B</ion-label>
      </ion-item-divider>
      
      <ion-item>
        <ion-label>CheckboxBa</ion-label>
        <ion-checkbox color="primary" checked="true">Checkbox</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>CheckboxBb</ion-label>
        <ion-checkbox color="secondary" checked="false">Checkbox</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>CheckboxBc</ion-label>
        <ion-checkbox color="light" disabled="true">Checkbox</ion-checkbox>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
          <ion-label>C</ion-label>
        </ion-item-divider>
        
        <ion-radio-group>
          <ion-item>
            <ion-label>RadiobuttonCa</ion-label>
            <ion-radio color="warning">Radiobutton</ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>RadiobuttonCb</ion-label>
            <ion-radio color="tertiary" disabled="false">Radiobuttton</ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>RadiobuttonCc</ion-label>
            <ion-radio color="danger" diabled="true">Radiobutton</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item-group>

      <ion-item-group>
          <ion-item-divider>
            <ion-label>D</ion-label>
          </ion-item-divider>
          
          <ion-item>
            <ion-label>ToggleDa</ion-label>
            <ion-toggle color="medium">Toggle</ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>ToggleDb</ion-label>
            <ion-toggle color="dark">Toggle</ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>ToggleDc</ion-label>
            <ion-toggle color="success">Toggle</ion-toggle>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
            <ion-item-divider>
              <ion-label>E</ion-label>
            </ion-item-divider>
            
            <ion-item>
              <ion-label>More InfoEa</ion-label>
              <ion-textarea placeholder="info" color="secondary" rows="5" wrap="hard"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>More InfoEb</ion-label>
              <ion-textarea placeholder="info" color="primary" rows="10" spellcheck="false" wrap="off"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>More InfoEc</ion-label>
              <ion-textarea placeholder="info" rows="15" spellcheck="true" wrap="soft" readonly='true'></ion-textarea>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider>
              <ion-label>Testing</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label>First Name: </ion-label>
              <ion-text placeholder="Your frist name goes here"></ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Last Name:</ion-label>
              <ion-text placeholder="Your last name goes here"></ion-text>
            </ion-item>

            <ion-label>Pick a color!</ion-label>
          <ion-radio-group>
            <ion-item>
              <ion-label>Orange</ion-label>
              <ion-radio color="warning"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Light Grey</ion-label>
              <ion-radio color="light" disabled="false"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Red</ion-label>
              <ion-radio color="danger" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Blue</ion-label>
              <ion-radio color="primary" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Aqua</ion-label>
              <ion-radio color="secondary" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Purple</ion-label>
              <ion-radio color="tertiary" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Green</ion-label>
              <ion-radio color="success" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Grey</ion-label>
              <ion-radio color="medium" diabled="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Black</ion-label>
              <ion-radio color="dark" diabled="true"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item>
            <ion-label>Do you like dogs?</ion-label>
            <ion-toggle color="danger"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Do you like cats?</ion-label>
            <ion-toggle color="success"></ion-toggle>
          </ion-item>
          <ion-label>Pick some pizza toppings!</ion-label>
          <ion-item>
            <ion-label>Olives</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Grapes</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pepperoni</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Saussage</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bell Pepper</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marshmallows</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Red Onion</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Banana</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pineapple</ion-label>
            <ion-checkbox color="secondary">Checkbox</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Anything you would like to add?</ion-label>
            <ion-textarea placeholder="info" rows="15" spellcheck="true" wrap="soft" readonly='true'></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-button>Submit</ion-button>
          </ion-item>
        </ion-item-group>
</ion-content>
